<% if (typeof errors !== 'undefined') { %>
    <ul class="alert alert-danger ps-5">
        <% for (const error of errors) { %>
                <li><%= error.msg %></li>
        <% } %>
    </ul>
<% } %>

<% if (typeof error !== 'undefined') { %>
    <div class="alert alert-danger" role="alert">
        <%= error %> 
    </div>
<% } %>

<% if (messages.error) { %>
    <div class="alert alert-danger" role="alert">
        <%= messages.error %>
    </div>
<% } %>


<% if (messages.success) { %>
    <div class="alert alert-success" role="alert">
        <%= messages.success %>
    </div>
<% } %>
